Class id=${NAME} class="ink.core:DslFactory" super="ink.core:ObjectFactory"{
	java_path "factory"
	java_mapping "No_Java"
	imports{
		${IMPORTS}
	}
	loader class="ink.core:DslLoader"
	repository class="ink.core:DslRepository"
	namespace ${NAMESPACE}
	dsl_package ${DSL_PACKAGE}
	java_package ${JAVA_PACKAGE}
}

