<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension id="inkBuilder" name="Ink Project Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.ink.eclipse.builder.InkBuilder">
         </run>
      </builder>
   </extension>
   <extension id="inkNature" name="Ink Project Nature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.ink.eclipse.builder.InkNature">
         </run>
      </runtime>
      <builder id="ink.eclipse.inkBuilder">
      </builder>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true" objectClass="org.eclipse.core.resources.IProject" nameFilter="*"
            id="ink.eclipse.contribution.nature">
         <action label="Add/Remove Ink Nature"
               class="org.ink.eclipse.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="ink.eclipse.addRemoveNatureAction">
         </action>
      </objectContribution>
      <viewerContribution  id="ink.eclipse.contribution.contribution.popup.java.editor"
		   targetID="#CompilationUnitEditorContext"> 
		   <action
               class="org.ink.eclipse.editors.actions.Java2InkAction"
               definitionId="ink.eclipse.java2Ink"
               label="Goto Ink"
               id="ink.eclipse.java2InkAction"
               menubarPath="additions"
               />
   </viewerContribution>
   </extension>
    <extension id="inkProblem" name="Ink Problem" point="org.eclipse.core.resources.markers">
      	<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>      	
       	<persistent value="true"/>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.ink.eclipse.editors.InkEditor"
            contributorClass="org.ink.eclipse.editors.InkEditorActionContributor"
            extensions="ink"
            icon="icons/sample.gif"
            id="ink.eclipse.editors.InkEditor"
            name="Ink Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ink.eclipse.actionSet"
            label="Ink"
            visible="true">
         <menu id="ink.eclipse.menu" label="Ink">
         </menu>
         <action
               class="org.ink.eclipse.editors.actions.OpenElementAction"
               definitionId="ink.eclipse.openElement"
               icon="icons/opentype.gif"
               id="ink.eclipse.openElementAction"
               label="Open Ink Element"
               menubarPath="ink.eclipse.menu/Editor"
               style="push"
               toolbarPath="ink.eclipse.menu"/>
      </actionSet>
   </extension>
   <extension
         id="ink.eclipse.commands"
         name="Ink Commands"
         point="org.eclipse.ui.commands">
      <category
            id="ink.eclipse.editor"
            name="Ink Editor">
      </category>
      <command
            categoryId="ink.eclipse.editor"
            id="ink.eclipse.openElement"
            name="Open Ink Element">
      </command>
      <command
            categoryId="ink.eclipse.editor"
            id="ink.eclipse.gotoElement"
            name="Goto Ink Element">
      </command>
      <command
            categoryId="ink.eclipse.editor"
            id="ink.eclipse.java2Ink"
            name="Goto Ink Element">
      </command>
      <command
            categoryId="ink.eclipse.editor"
            id="ink.eclipse.gotoJava"
            name="Goto Java">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key commandId="ink.eclipse.openElement"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Shift+Q"
            contextId="org.eclipse.ui.contexts.window">
      </key>
      <key commandId="ink.eclipse.gotoElement"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"
            contextId="ink.eclipse.context.editor">
      </key>
      <key commandId="ink.eclipse.gotoJava"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4"
            contextId="ink.eclipse.context.editor">
      </key>
      <key commandId="ink.eclipse.java2Ink"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F3"
            contextId="org.eclipse.jdt.ui.javaEditorScope">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
      		parentId="org.eclipse.ui.textEditorScope"
            id="ink.eclipse.context.editor"
            name="In Ink Editor">
      </context>
   </extension>

</plugin>
