<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="inkBuilder"
         name="Ink Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.ink.eclipse.builder.InkBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="inkNature"
         name="Ink Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.ink.eclipse.builder.InkNature">
         </run>
      </runtime>
      <builder
            id="ink.eclipse.inkBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="ink.eclipse.contribution1">
         <action
               label="Add/Remove Ink Nature"
               class="org.ink.eclipse.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="ink.eclipse.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
    <extension
         id="inkProblem"
         name="Ink Problem"
         point="org.eclipse.core.resources.markers">
      	<super type="org.eclipse.core.resources.problemmarker"/>
      	<super type="org.eclipse.core.resources.textmarker"/>      	
       <persistent
            value="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ink.eclipse.editors.InkEditor"
            contributorClass="ink.eclipse.editors.InkEditorActionContributor"
            extensions="ink"
            icon="icons/sample.gif"
            id="ink.eclipse.editors.InkEditor"
            name="Ink Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ink.eclipse.actionSet"
            label="Ink"
            visible="true">
         <menu
               id="ink.eclipse.menu"
               label="Ink">
         </menu>
         <action
               class="ink.eclipse.editors.actions.OpenElementAction"
               definitionId="ink.eclipse.openElement"
               icon="icons/opentype.gif"
               id="ink.eclipse.openElementAction"
               label="Open Ink Element"
               menubarPath="ink.eclipse.menu/Editor"
               style="push"
               toolbarPath="ink.eclipse.menu">
         </action>
      </actionSet>
   </extension>
   <extension
         id="ink.eclipse.commands"
         name="Ink Commands"
         point="org.eclipse.ui.commands">
      <category
            id="ink.eclipse.editor"
            name="Ink Editor">
      </category>
      <command
            categoryId="ink.eclipse.editor"
            id="ink.eclipse.openElement"
            name="Open Ink Element">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ink.eclipse.openElement"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+I">
      </key>
   </extension>

</plugin>
