<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="inkstone.category.inkstone"
            name="InkStone">
      </category>
      <view
            allowMultiple="false"
            category="inkstone.category.inkstone"
            class="inkstone.views.KioskView"
            icon="src/inkstone/utils/gallery/INKSTONE Kiosk View Icon.png"
            id="inkstone.views.KioskView"
            name="INK Kiosk"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="inkstone.InkstoneMainPerspective"
            fixed="false"
            icon="src/inkstone/utils/gallery/inkstone_perspective_icon.png"
            id="inkstone.perspective.main"
            name="Inkstone">
      </perspective>
   </extension>

</plugin>
